/* Fonts */
.permanent-marker {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }  

  .handlee {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
/* End of Fonts */
body {
    background-color: #e6bb95;
    padding: 15px;
}


/* Shadow Effect */
.post,
.slip,
.plaque {
    box-shadow: 3px 3px 5px black;
}


/* Post-It Note Styles*/
.post {
    width: 30%;
    max-height: 300px;
    background-color: #FEF587;
    padding: 15px;
    margin: 10px;
}

.post-text {
    font-size: 21px;
}


/* Title Plaque Styles */
.title {
    font-size: 42px;
}

.plaque {
    color: gold;
    background-color: black;
    border: 2px solid gold;
    padding-left: 30px;
    padding-right: 30px;
}

/* Subtitle Slip Styles */
.slip {
    background-color: #f5f5f5;
    max-height: 300px;
    margin-top: 15px;
}

.subtitle {
    font-size: 30px;
}

/* Ink Color Styles */
.red-ink {
    color: #B10000;
}

.blue-ink {
    color: #0D25DC;
}